
form {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.form-title {
  text-align: center;
  color: #6c5ce7;
  margin-bottom: 20px;
}
label ,h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #333;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 1px;
}

input.valid,
select.valid {
  border-color: green;
}

input.invalid,
select.invalid {
  border-color: red;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  margin-left: 40%;
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:#6c5ce7;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color:#887bee;
}

div[style="color:red"] {
  font-size: 0.9em;
  margin-top: 2px;
}
.error-msg{
  color: red;
}

